<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>NGO DONOR TABLE</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/niceadmin/assets/img/favicon.png" rel="icon" />
    <link
      href="/public/niceadmin/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/public/niceadmin/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/quill/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/quill/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/public/niceadmin/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/public/niceadmin/assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">Donation Portal</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <!-- End Notification Icon -->

          <!-- End Notification Dropdown Items -->
          <!-- End Notification Nav -->

          <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
             
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >Hi User
              </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="/ngo/profile"
                >
                  <i class="bi bi-person"></i>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="/ngo/profile"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="faq"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li> -->
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="/ngo/profile">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link" href="/ngo/donorview"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span> Donor Table</span
            >
          </a>
           </li>
        <!-- End Tables Nav -->
               <!-- End Charts Nav -->
               <!-- End Icons Nav -->

        <li class="nav-heading">Pages</li>
                                                                                                                                                   <!-- End Profile Page Nav -->

        <!-- <li class="nav-item">
          <a class="nav-link collapsed" href="faq.html">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li> -->
        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="Contact-admin.html">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li>
        <!-- End Contact Page Nav -->

        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Donor Table</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Ngo</li>
            <li class="breadcrumb-item active">Donor table</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Donor Table</h5>
               
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name of Donor</th>
                      <th scope="col">Email of Donor</th>
                      <th scope="col">Contact of Donor</th>
                      <th scope="col">Type of Donation</th>
                      <th scope="col">Date of Donation</th>
                      <!-- <th scope="col">Status</th> -->
                    </tr>
                  </thead>
                  <% if(donationData.length!=0){ var i=1; donationData.forEach(function(data) { %>
                    <tr>
                      <td><%=i; %></td>
                      <td><%=data.name %></td>
                      <td><%=data.email %></td>
                      <td><%=data.contact %></td>
                      <td><%=data.type %></td>
                      <td><%=data.dod %></td>
                      <!-- <td>
                        <%
                          selectedOpen = selectedPending = selectedClose = selectDisable = '';
                          if ('close' == data.status) {
                            selectedClose = 'selected';
                            selectDisable = 'disabled';
                          } else if ('pending' == data.status) {
                            selectedPending = 'selected';
                          } else {
                            selectedOpen = 'selected';
                          }
                        %>
                        <select id="<%=data._id%>" <%=selectDisable%> class="donation-status">
                          <option <%=selectedOpen%> value="open">Open</option>
                          <option  <%=selectedPending%> value="pending">Pending Collection</option>
                          <option  <%=selectedClose%> value="close">Close</option>
                        </select>
                    </td> -->
                      
                    </tr>
                    <% i++; }) %> <% } else{ %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                    <% } %>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/public/niceadmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/quill/quill.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/public/niceadmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/public/niceadmin/assets/js/main.js"></script>
  </body>
</html>
